/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';
@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';

.centralizar{
    text-align: center;

}

.centralizar-div{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.direita{
    text-align: right;

}

.topo{
    top: 30vh;
    position: relative;
}

body{
    background-color: rgb(179, 178, 178);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
